
.footer{
    margin: 100px 200px 20px 200px;
    
    
}

.footer .top{
    display: flex;
    justify-content: space-between;
    
}
.footer .top .left{
    align-self: center;
    text-align: center;
    justify-self: start;
    align-items: start;
    font-family: 'Poppins', sans-serif;
}
.footer .top .right{
    align-self: center;
    text-align: center;
    justify-self: start;
    align-items: start;
}

.footer .center{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

 .item{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    font-size: 15px;
}

.u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
/* .footer .center .item-container{
    display: flex;
    gap: 50px
    
}

.item h1{
    font-size: 18px;
    font-weight: 600;
    color: #bb8d4e;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-top: 50px;

}
i{
    margin-left: 10px;
}
.right input{
    display: inline-block;
    font-size: 18px;
    box-sizing: border-box;  
    height: 40px;
}

.right input[type="text"]{
    background: #fff;
    width: 300px;
    
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    border: none;
    outline: none;
}

.right input[type="button"]{
    border-radius:  25px 25px  25px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    left: -5px;
    padding: 0 25px;

}


.center .left{
    font-size: 20px;
    font-weight: 600;
    
} */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    
}

.container-navbar{
    height: 10vh;
    width: 100%;
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    text-decoration:  none;
    font-weight: bold;
    color: #8f8e90;

}
nav ul li a:hover{
    /* background: #9848ff; #ffc107; #e7a344; */
    transition: 0.3s;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    font-weight: 400;
    color:#062152;
}

.home-main{
    margin: 10px 100px 10px 100px;
}


.button{
    background: #9848ff; 
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    font-weight: 500;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.button:hover{
    background: #9848ff;  
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.img-container img{
    width: 290px;
    height: 400px;
    object-fit: cover;
    border-radius: 40%;
}

.welcome-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: auto;
    margin-top: 50px;
    
}
.welcome-text h3{
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
}
.img-down{
    margin-top: 300px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    color: #f9e0ff;
    font-family: 'Poppins', sans-serif;
}
.card-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    gap: 10px;
    background: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    z-index: 1;
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
    border-top: 1px solid  rgb(255, 255, 255, 0.5);
    border-left: 1px solid  rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    color: white;
    font-family: 'Poppins', sans-serif;

}

.card-container .icon{
    border-radius: 15%;
    display: flex;
    width: auto;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 3px;
    align-content: center;
}

.formations-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    margin: 25px 100px 15px 100px;
    background: #161623;
}

.formations-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

.iaf{
    background-color: #ea742d;
}
.data{
    background: #ec4982;
}
.dev{
    background: #417cd3;
}
.cyber{
    background: #9947ff;
}
.cert{
    background: #d25052;
}

.form-container{
    display: flex;
    height: 500px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: 15px 15px 20px black;
}
.form-container-reg{
    display: flex;
    height: 600px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: 15px 15px 20px black;
}

.form-container .form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: white;


}
.form-container-reg .form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: white;


}

.form h3{
    font-size: 3rem;
    margin: 40px;

}
.form input{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}

.submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    border: none;
}

.submit:hover{
    cursor: pointer;
    background-color: #9947ff;
    border: none;
}

.side{
    display: flex;
    width: 50%;
    align-items: center;
    background-color: #ea742d;
    justify-content: center;
}

.form label{
    font-size: 1.2rem;
}


