<div class="footer">
    <div class="top">
        <div class="left">
            <h3>Join our newsletter</h3>
            <p>We'll send you a nice letter once a week. No spam</p>
        </div>
        <form action="" class="right">
            <input type="text" name="email" placeholder="enter your email">
            <input type="button" value="Subscribe">
        </form>
    </div>
    <div class="center">
        <div class="left">
            <p>Esic Web School</p>
        </div>
        <div class="item-container">
            <div class="item">
                <h1>Formation</h1>
                <span>Dev</span>
                <span>Data</span>
                <span>Network SysAdmin</span>
                <span>Cybersecurity</span>
                <span>Management</span>
            </div>
            <div class="item">
                <h1>Ressources</h1>
                <span>Events</span>  
                <span>Entreprises Partners</span>
                <span>Hackaton</span>
                <span>About us</span>
            </div>
            <div class="item">
                <h1>Social</h1>
                <span>Twitter</span>  
                <span>LinkedIn</span>
                <span>Facebook</span>
                <span>Instagram</span>
            </div>
            <div class="item">
                <h1>Legal</h1>
                <span>Terms Licenses</span>  
                <span>Privacy Cookies</span>
                <span>Settings</span>
                <span>Contact</span>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="left">
          <span class='copyright'>Copyright 2023. All Rights Reserved.</span>
        </div>
        <div class="right">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
      </div>
</div>