
<h3 style="color:#06052f;" class="text-center thin"><a href="{% url 'actualites' %}">Evènements</a></h3>
<div class="jumbotron top-space">
    <div class="container">
        
        
        
        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4 class="h-body text-center"><i class="fa fa-flash fa"></i>Hackathon</h4></div><br>
                <div class="h-body text-center">
                    <p>Venez relever le défi avec nos étudiants, et améliorer vos compétences... <a href=""> Lire plus</a></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4 class="h-body text-center"><i class="fa fa-flash fa"></i>Forum de l'emploi</h4><br>
                    <p class="h-body text-center">Venz tels que vous êtes et rapartez avec pleind'idées et d'actions au cours de nos forums...<a href=""> Lire plus</a></p>
                </div>
                
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4 class="h-body text-center"><i class="fa fa-flash fa"></i> Journée portes ouvertes</h4></div>
                <div class="h-body text-center">
                    <p>Une date pour notre journée portes ouvertes afin de vous acceuillir...<a href=""> Lire plus</a></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4 class="h-body text-center"><i class="fa fa-smile-o fa"></i> Webinaires</h4></div><br>
                <div class="h-body text-center">
                    <p>Nous vous présentons ESIC, et nous vous accompagnons pour des formations bien précises adaptées à votre profile...<a href=""> Lire plus</a></p>
                </div>
            </div>
        </div> <!-- /row  -->
    </div>
</div>
<h3 style="color:#06052f;" class="text-center thin"><a href="{% url 'dates' %}"> Calendriers</a></h3>
<div class="jumbotron top-space">
    
    
    <div class="container">
        
        
        
        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4 class="h-body text-center"><i class="fa fa-flash fa"></i>Septembre</h4></div>
                <div class="h-body text-center">
                    <p>Venez découvrir nos programmes pour le mois de Septembre...<a href=""> Lire plus</a></p>
                </div>
                
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4 class="h-body text-center"><i class="fa fa-flash fa"></i>Octobre - Novembre</h4></div>
                <div class="h-body text-center">
                    <p>Venez découvrir nos programmes pour le mois de Octobre - Novembre...<a href=""> Lire plus</a></p>
                </div>
                
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4 class="h-body text-center"><i class="fa fa-flash fa"></i>Décembre - Janvier</h4></div>
                <div class="h-body text-center">
                    <p>Venez découvrir nos programmes pour le mois de Décembre - Janvier...<a href=""> Lire plus</a></p>
                </div>
                
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4 class="h-body text-center"><i class="fa fa-flash fa"></i>Février - Mars</h4></div>
                <div class="h-body text-center">
                    <p>Venez découvrir nos programmes pour le mois de Février - Mars...<a href=""> Lire plus</a></p>
                </div>
                
            </div>
        </div> <!-- /row  -->
    
    </div>
</div>
<div class="marquee-rtl" style="animation: defilement-rtl 15s infinite linear;">
    <h3 style="color:#06052f;" class="text-center thin"><a href="{% url 'temoignages' %}">Témoignages</a></h3>
    <div class="jumbotron top-space" style="display:block"> 
        
        <div class="container" >
            <div class="row">
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h6 class="h-body "><i class="fa fa-flash fa"></i>Jeff Warren (Ancien étudiant)</h6></div>
                    <div class="h-body">
                        <p>« Grâce à la plateforme numérique d’accompagnement de l'école, j’ai pu suivre l’évolution de mon parcours en temps réel, à tout moment. Les conseils et les outils mis à disposition m’ont aidé à me préparer pour chaque étape de ma formation en alternance.»...<a href=""> Lire plus</a></p>
                    </div>
                    
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h6 class="h-body "><i class="fa fa-flash fa"></i>Lesly Sandy (Ancienne étudiante)</h6></div>
                    <div class="h-body">
                        <p>« Je suis ravie de la qualité de l’accompagnement proposé sur la plateforme numérique de l'école. J’ai pu échanger facilement avec d’autres apprentis et bénéficier de conseils avisés pour construire mon projet professionnel. Les ressources proposées sont très utiles et m’ont permis de me préparer au mieux pour mes examens et mon stage. »...<a href=""> Lire plus</a></p>
                    </div>
                    
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h6 class="h-body "><i class="fa fa-flash fa"></i>Kassé (Ancien alternant)</h6></div>
                    <div class="h-body">
                        <p>« La plateforme numérique d’accompagnement a été pour moi un véritable guide tout au long de mon parcours en alternance. J’ai apprécié l’interface intuitive et les fonctionnalités proposées, qui m’ont permis de suivre mes progrès et de rester motivé tout au long de mon apprentissage. Merci à toute l’équipe pour leur soutien et leur disponibilité ! »...<a href=""> Lire plus</a></p>
                    </div>
                    
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h6 class="h-body "><i class="fa fa-flash fa"></i>Jeef (Ancien alternant)</h6></div>
                    <div class="h-body">
                        <p>Venez découvrir ESIC. Je recommande cette plateforme à tous les apprentis en recherche d’un accompagnement personnalisé ! ...<a href=""> Lire plus</a></p>
                    </div>
                    
                </div>
            </div> <!-- /row  -->
        </div>
    </div>
</div>

 
<!--    Footers-->
<footer id="footer" class="top-space">
    <div class="footer1">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h3 class="widget-title"> Contact</h3>
                        <div class="widget-body">
                            <p> +33 7 55 37 93 49<br>
                                <a href="mailto:#"> contact@l3jk.com</a><br>
                                <br>
                                 23 Rue d'ESIC, Malakoff, 92240
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h3 class="widget-title-right">Nos Réseaux</h3>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                <div class="item">
                                    <a href=""><i class="fab fa-facebook-f fa-1x" style="color: #3b5998;"></i> Facebook</a>
                                    <a href=""><i class="fab fa-twitter fa-1x" style="color: #55acee;"></i> Twitter</a>
                                    <a href=""><i class="fab fa-instagram fa-1x" style="color: #ac2bac;"></i> Instagram</a>
                                    <a href=""><i class="fab fa-linkedin-in fa-1x" style="color: #0082ca;"></i> LinkedIn</a>
                                    <a href=""><i class="fab fa-whatsapp fa-1x" style="color: #25d366;"></i> Whatsapp</a>
                                </div>
                                
                                <!--<a href=""><i class="fa fa-dribbble fa-2"></i></a></br>
                                <a href=""><i class="fa fa-github fa-2"></i></a></br> -->
                            </p>	
                        </div>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h3 class="widget-title">Legal</h3>
                        <div class="item-container">
                            <div class="item">
                                <span>Terms Licenses</span>  
                                <span>Privacy Cookies</span>
                                <span>Settings</span>
                                <span>Contact</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-md-0 mb-4">
                <h3 class="widget-title">Nos partenaires</h3>
                <div class="widget-body">
                    <p> Nous avons l'ambition d'être le premier partenaire de tous les acteurs de la formation par apprentissage.</p>
                    <p> Vous êtes une entreprise ou vous souhaitez vous faire former, n'hésitez pas à nous contacter</p>
                </div>        
            </div>
        </div>
        <div class="col-md-6 widget">
            <div class="widget-body">
                <p class="text-right">
                    Copyright &copy; 2023, ESIC. Designed by <a href="" rel="designer">L3JK Conseil</a> 
                </p>
            </div>                        
        </div>
    </div> 
</footer>	
<!-- Social links. @TODO: replace by link/instructions in template -->
<section id="social">
    <div class="container">
        <div class="wrapper clearfix">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_linkedin_counter"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            </div>
            <!-- AddThis Button END -->
        </div>
    </div>
</section>
<!-- /social links -->
