{% load static %}

<div class="container-navbar">
    <nav class=""> 
        <a class="navbar-brand" href="">
         <img src="{% static 'images/logo_esic.jpeg'%}" alt="Logo" style="width:90px;">
        </a>
       <!-- Toggler/collapsibe Button -->
        <!-- Links -->
        <ul class="">
            <li class="">
                <a class="" href="{% url 'formations' %}">Formations</a>
            </li>
            <li class="">
                <a class="" href="{% url 'actualites' %}">Actualités</a>
            </li>
            <li class="">
                <a class="" href="">Certifications</a>
            </li>
            <li class="">
                <a class="" href="">Offres/Stages</a>
            </li>
            <li class="">
                <a class="" href="">Nos Étudiants</a>
            </li>
        </ul> 
        <div>
            <ul>
                <li><a href="">Connexion</a></li>
            
                <li><a class="button" href="">Inscription</a></li>
            </ul>
        </div>    
    </nav>
</div>

