{% load static %}

<div class="container-navbar">
    <nav class=""> 
        <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'images/logo_esic.jpeg'%}" alt="Logo" style="width:90px;">
        </a>
       <!-- Toggler/collapsibe Button -->
        <!-- Links -->
        <ul class="">
            <li class="">
                <a class="" href="{% url 'formations' %}">Formations</a>
            </li>
            <li class="">
                <a class="" href="{% url 'actualites' %}">Actualités</a>
            </li>
            <li class="">
                <a class="" href="{% url 'certifications' %}">Certifications</a>
            </li>
            <li class="">
                <a class="" href="{% url 'evenements' %}">Offres</a>
            </li>
            <li class="">
                <a class="" href="{% url 'temoignages' %}">Étudiants</a>
            </li>
        </ul>
        {% if request.user.is_authenticated %} 
        <div>
            <p>Bonjour {{request.user}}</p>
            <a href="{% url 'logout' %}" class="button">Logout</a>
        </div>
        {% else %}
        <ul>
            <li><a href="{% url 'login'%}">Connexion</a></li>
        
            <li><a class="button" href="{% url 'register'%}">Inscription</a></li>
        </ul>
        {% endif %}    
    </nav>
</div>

