{% load static %}

<div class="container-navbar">
    <nav class=""> 
        <a class="navbar-brand" href="">
         <img src="{% static 'images/logo_esic.jpeg'%}" alt="Logo" style="width:40px;">
        </a>
       <!-- Toggler/collapsibe Button -->
        <!-- Links -->
        <ul class="">
            <li class="">
                <a class="" href="{% url 'articles' %}">Formations</a>
            </li>
            <li class="">
                <a class="" href="/offres">Actualités</a>
            </li>
            <li class="">
                <a class="" href="/contact">Certifications</a>
            </li>
            <li class="">
                <a class="" href="/contact">Offres/Stages</a>
            </li>
            <li class="">
                <a class="" href="/contact">Nos Étudiants</a>
            </li>
        </ul> 
        <div>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Sign Up</a></li>
                <li><a class="button" href="">Inscription</a></li>
            </ul>
        </div>    
    </nav>
</div>

