{% extends 'main.html'%};
{% block content %}
{% load static %}
<style>
    
    
    .mt-50 {
        margin-top: 50px
    }
    
    .mb-50 {
        margin-bottom: 50px
    }
    
    
    .card-header:not([class*=bg-]):not([class*=alpha-]) {
        background-color: transparent;
        padding-top: 1.25rem;
    
    }
    
    .header-elements-inline {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    
    a{
    text-decoration: none !important;
    color: red;
    }
    
    .img-preview {
        max-height: 5rem;
    }
</style>

<div class="container d-flex justify-content-center mt-50 mb-50">
<div class="card">
    <div class="card-header header-elements-inline">
        <h3 class="card-title h-body text-center"> Découvrez notre Evènements Annuel</h3>
        <div class="header-elements">
            <div class="list-icons mb-2">
                <a class="fa fa-close" data-action="collapse" data-abc="true"></a>
            </div>
        </div>
    </div>

    <div class="card-body pb-0">
        <div class="row">
            <div class="col-xl-6">
                <div class="media flex-column flex-sm-row mt-0 mb-3">
                        <div class="mr-sm-3 mb-2 mb-sm-0">
                            <div class="card-img-actions">
                                <a href="#" data-abc="true">
                                    <img src="{% static 'images/mh.png'%}" class="img-fluid img-preview rounded" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="media-body">
                            <h6 class="media-title"><a href="#" data-abc="true">Hackathon</a></h6>
                            <ul class="list-inline list-inline-dotted text-muted mb-2">
                                <li class="list-inline-item"><i class="fa fa-book mr-2"></i> Book tutorials</li>
                            </ul>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        </div>
                    </div>

                    <div class="media flex-column flex-sm-row mt-0 mb-3">
                        <div class="mr-sm-3 mb-2 mb-sm-0">
                            <div class="card-img-actions">
                                <a href="#" data-abc="true">
                                    <img src="{% static 'images/forum.png'%}" class="img-fluid img-preview rounded" alt="">

                                </a>
                            </div>
                        </div>

                        <div class="media-body">
                            <h6 class="media-title"><a href="#" data-abc="true">Journée portes ouvertes</a></h6>
                            <ul class="list-inline list-inline-dotted text-muted mb-2">
                                <li class="list-inline-item"><i class="fa fa-video-camera mr-2"></i> Video tutorials</li>
                            </ul>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="media flex-column flex-sm-row mt-0 mb-3">
                        <div class="mr-sm-3 mb-2 mb-sm-0">
                            <div class="card-img-actions">
                                <a href="#" data-abc="true">
                                    <img src="{% static 'images/jpo.png'%}" class="img-fluid img-preview rounded" alt="">

                                </a>
                            </div>
                        </div>

                        <div class="media-body">
                            <h6 class="media-title"><a href="#" data-abc="true">Webinaires</a></h6>
                            <ul class="list-inline list-inline-dotted text-muted mb-2">
                                <li class="list-inline-item"><i class="fa fa-video-camera mr-2"></i> Video tutorials</li>
                            </ul>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        </div>
                    </div>

                    <div class="media flex-column flex-sm-row mt-0 mb-3">
                        <div class="mr-sm-3 mb-2 mb-sm-0">
                            <div class="card-img-actions">
                                <a href="#" data-abc="true">
                                    <img src="{% static 'images/rw.png'%}" class="img-fluid img-preview rounded" alt="">

                                </a>
                            </div>
                        </div>

                        <div class="media-body">
                            <h6 class="media-title"><a href="#" data-abc="true">Forum de l'emploi</a></h6>
                            <ul class="list-inline list-inline-dotted text-muted mb-2">
                                <li class="list-inline-item"><i class="fa fa-question-circle mr-2"></i> FAQ section</li>
                            </ul>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>





{% endblock %}