{% extends 'main.html'%};
{% block content %}
    <div class="formations-container">
        
        <div class="card-container">
            <span class="icon dev">
                <i class="fa-sharp fa-solid fa-thumbs-up"></i>
            </span>
            <div class="card-text">
                <h3><a href="{% url 'formationDevelopper' %}">Developper </a></h3>
                <p>Au courant des dernières innovations, curieux des dernières applications, le concepteur développeur informatique est capable de développer une application, une page web ou une base de données à partir d’un cahier des charges ou d’un scénario utilisateur.</p>
            </div>
            <div>
                <a href="">Lire plus</a>
                
            </div>
        </div>
        <div class="card-container">
            <span class="icon data">
                <i class="fa-solid fa-database"></i>
            </span>
            <div class="card-text">
                <h3><a href="{% url 'dataScience' %}">Data Science</a></h3>
                <p>Cette formation se concentre sur l’analyse de données massives à l’aide d’outils de visualisation et de programmation statistique.</p>
            </div>
            <div>
                <a href="">Lire plus</a>
            </div>
        </div>
        <div class="card-container">
            <span class="icon iaf">
                <i class="fa-sharp fa-regular fa-face-smile"></i>
            </span>
            <div class="card-text">
                <h3><a href="{% url 'businessEngineering' %}">Business Engineering</a></h3>
                <p>Cette formation est axée sur la planification stratégique et la gestion des projets commerciaux.</p>
            </div>
            <div>
                <a href="">Lire plus</a>
            </div>
        </div>
        <div class="card-container">
            <span class="icon cyber">
                <i class="fa-solid fa-robot"></i>
            </span>
            <div class="card-text">
                <h3><a href="{% url 'cybersecurity' %}">Cybersecurity</a></h3>
                <p> Cette formation se concentre sur les méthodes de sécurité pour protéger les systèmes informatiques contre les attaques malveillantes.</p>
            </div>
            <div>
                <a href="">Lire plus</a>
            </div>
        </div>
        <div class="card-container">
            <span class="icon cert">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </span>
            <div class="card-text">
                <h3><a href="{% url 'certifications' %}">Certifications</a></h3>
                <p>Les certifications sont des accréditations professionnelles qui attestent qu’une personne possède un certain niveau de compétences et de connaissances dans un domaine spécifique.</p>
            </div>
            <div>
                <a href="">Lire plus</a>
            </div>
        </div>
    </div>
{% endblock %}