{% extends 'main.html'%};
{% block content %}
    <div class="formations-container">
        
        <div class="card-container">
            <span class="icon dev">
                <i class="fa-sharp fa-solid fa-thumbs-up"></i>
            </span>
            <div class="card-text">
                <h3>Developer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, impedit. Impedit adipisci, eum amet at.</p>
            </div>
            <div>
                <a href="">Read more</a>
            </div>
        </div>
        <div class="card-container">
            <span class="icon data">
                <i class="fa-solid fa-database"></i>
            </span>
            <div class="card-text">
                <h3>Data Science</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, impedit. Impedit adipisci, eum amet at.</p>
            </div>
            <div>
                <a href="">Read more</a>
            </div>
        </div>
        <div class="card-container">
            <span class="icon iaf">
                <i class="fa-sharp fa-regular fa-face-smile"></i>
            </span>
            <div class="card-text">
                <h3>Ingeniere Affaire</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, impedit. Impedit adipisci, eum amet at.</p>
            </div>
            <div>
                <a href="">Read more</a>
            </div>
        </div>
        <div class="card-container">
            <span class="icon cyber">
                <i class="fa-solid fa-robot"></i>
            </span>
            <div class="card-text">
                <h3>Cybersecurity</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, impedit. Impedit adipisci, eum amet at.</p>
            </div>
            <div>
                <a href="">Read more</a>
            </div>
        </div>
        <div class="card-container">
            <span class="icon cert">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </span>
            <div class="card-text">
                <h3>Certifications</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, impedit. Impedit adipisci, eum amet at.</p>
            </div>
            <div>
                <a href="">Read more</a>
            </div>
        </div>
    </div>
{% endblock %}