
{% extends 'main.html'%};
{% load static %}
{% block content %}
    <main class="home-main">

        <div class="welcome-text">
            <h3>Transformons ensemble</h3>
            <h3>Votre vision en réalité</h3>
            <p>Le Centre de formation pour l'apprenti.</p>
        </div>

        <div class="button-container">
            <a href="" class="button"> Commencer</a>
            <a href="{% url 'presentation' %}" class="button"><i class="fa-sharp fa-solid fa-circle-play"></i> Présentation</a>
        </div>

        <div class="img-container">
            <img src="{% static 'images/img1.jpg'%}" alt="">
            <img src="{% static 'images/img2.jpg'%}" alt="" class="img-down">
            <img src="{% static 'images/img3.jpg'%}" alt="" class="img-down">
            <img src="{% static 'images/img4.jpg'%}" alt="">
        </div>
    
        <div>
        </div>
        
    </main>
{% endblock %}
