
{% extends 'main.html'%};
{% load static %}
{% block content %}
    <main class="home-main">

        <div class="welcome-text">
            <h3>Let's learn about new</h3>
            <h3>knowledge and abilities</h3>
            <p>Let's discover new knowledge and new friends and have a learning experience width formidable teachers</p>
        </div>

        <div class="button-container">
            <a href="" class="button">Get Started</a>
            <a href="" class="button"><i class="fa-sharp fa-solid fa-circle-play"></i> Watch Videos</a>
        </div>

        <div class="img-container">
            <img src="{% static 'images/img1.jpg'%}" alt="">
            <img src="{% static 'images/img2.jpg'%}" alt="" class="img-down">
            <img src="{% static 'images/img3.jpg'%}" alt="" class="img-down">
            <img src="{% static 'images/img4.jpg'%}" alt="">
        </div>
    
        <div>
        </div>
        
    </main>
{% endblock %}
